body {
  margin: 0;
  color: white;
  font-family: Georgia;
}

h1 {
  font-weight: normal;
}

h2 {
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: normal;
}

.dash-dropdown {
  color: black;
}

.dash-graph {
  width: 100vw;
  height: 100vh;
}

h2 {
  font-size: 2rem;
}

#map-title {
  background: transparent;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  z-index: 500;
}

#city-div {
  position: absolute;
  top: 10%;
  right: 5%;
  width: 600px;
}

#city-select-div {
  width: 280px;
}

#city-colour-div {
  width: 300px;
  position: absolute;
  top: 0%;
  right: 0%;
}


/*
#dropdown_city {
   position: absolute;
   top: 200px;
   right: 50px;
   width: 400px;
 }

#city_colour {
  position: absolute;
  top: 320px;
  right: 50px;
  width: 400px;
}
*/
#sector-div {
  position: absolute;
  top: 25%;
  right: 5%;
  width: 600px
}

/*
#dropdown_sector {
   position: absolute;
   top: 15%;
   left: 10px;
   width: 200px;
 }

*/
#date-div {
  position: absolute;
  bottom: 3%;
  width: 80%;
  transform: translate(10%);
}

#n_flows {
  /*
  position: absolute;
  bottom: 15%;
  left: 10px;
  width: 200px;
  padding: 0px 18% 25px !important;*/
  position: absolute;
  width: 39.5rem;
  bottom: 5rem;
  left: 8rem;
}

#table-div {
  position: absolute;
  right: 5%;
  top: 35%;
  width: 625px;
}

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner th {
    background-color: transparent;
}

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner td {
    background-color: rgb(0 0 0 / 0%);
}
.dash-spreadsheet-container .dash-spreadsheet-inner table {
    --hover: #fd0d0d;
}

#flows-bar-chart {
  width: inherit;
  height: 400px;
}
