.map-title {
  text-align: center;
  color: #01ffff;
}

.dash-graph {
  width: 100vw;
  height: 100vh;
}

#dropdown_city {
  position: absolute;
  top: 100px;
  right: 50px;
  width: 200px;
}

#dropdown_sector {
  position: absolute;
  top: 160px;
  right: 50px;
  width: 200px;
}

#date_index {
  position: absolute;
  top: 220px;
  right: 50px;
  width: 150px;
}

#n_flows {
  position: absolute;
  top: 280px;
  right: 50px;
  width: 150px;
}
