body {
  margin: 0;
}

.dash-graph {
  width: 100vw;
  height: 100vh;
}

#map-title {
  background: transparent;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  z-index: 500;
}

#dropdown_city {
  position: absolute;
  top: 200px;
  right: 50px;
  width: 400px;
}

#dropdown_sector {
  position: absolute;
  top: 260px;
  right: 50px;
  width: 400px;
}

#city_colour {
  position: absolute;
  top: 320px;
  right: 50px;
  width: 400px;
}

#date_index {
  position: absolute;
  top: 380px;
  right: 50px;
  width: 350px;
}

#n_flows {
  position: absolute;
  top: 420px;
  right: 50px;
  width: 350px;
}
