body {
  margin: 0;
  color: white;
}

.dash-dropdown {
  color: black;
}

.dash-graph {
  width: 100vw;
  height: 100vh;
}

#map-title {
  background: transparent;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  z-index: 500;
}

#city-div {
  position: absolute;
  top: 20%;
  right: 5%;
  width: 300px;
}


/*
#dropdown_city {
   position: absolute;
   top: 200px;
   right: 50px;
   width: 400px;
 }

#city_colour {
  position: absolute;
  top: 320px;
  right: 50px;
  width: 400px;
}
*/
#sector-div {
  position: absolute;
  bottom: 20%;
  right: 5%;
  width: 300px
}

/*
#dropdown_sector {
   position: absolute;
   top: 15%;
   left: 10px;
   width: 200px;
 }

*/
#date-div {
  position: absolute;
  bottom: 3%;
  width: 80%;
  transform: translate(10%);
}

/*
#n_flows {
  position: absolute;
  bottom: 15%;
  left: 10px;
  width: 200px;
}
*/
